* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --time-font: 'Roboto Mono', monospace;
  /* Colors */
  --background: #30394B;
  --work: #F55151;
  --long-break: ;
  --short-break: #07E98B;
  --accents: #F8F6F3;
  --little-details: #E3E1DE;
  --faded-ring: hsla(0, 3%, 93%, 0.089);
  /* App */
  --app-width: 260px;
  --app-height: 350px;
}

body, html {
  background-color: #2d3436;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

/*************************
  Basic Styles
**************************/
.wrapper {
  width: var(--app-width);
  height: var(--app-height);
  background-color: var(--background);
  padding: 8px 4px 2px 4px;
  margin: 5% auto;
  border: 1px solid rgb(32, 32, 32);
  box-shadow: 0 2px 10px rgba(41, 41, 41, 0.411);
  position: relative;
}

/*************************
  Nav Styles
**************************/
.header__nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  height: 20px;
  align-items: center;
}

.header__nav svg {
  stroke: var(--accents);
  cursor: pointer;
}

.header__promo {
  color: var(--short-break);
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  justify-self: center;
  z-index: 3;
}

.header__settings__nav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: 
  "feather pomotroid ."
  "jasm jasm jasm";
  height: 28px;
  align-items: center;
}

.header__settings__nav .header__promo {
  grid-area: pomotroid;
}

.close2 {
  grid-area: feather;
}

.header__settings__nav a {}

.in {
  grid-area: jasm;
  font-size: 10px;
  margin-top: -15px;
  text-align: center;
}

.team_title {
  width: 100%;
  color: #FFF;
}

.close2 {
  cursor: pointer;
}

/*************************
  Clock Styles
**************************/
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10% auto;
}

.main__circle {
  border: 2px solid var(--faded-ring);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  position: relative;
}

.circle__details {
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock__time {
  font-size: 35px;
  color: var(--little-details);
  letter-spacing: .05rem;
  font-family: var(--time-font);
  font-weight: 300;
}

.clock__text {
  padding-top: 5px;
  font-size: 10px;
  font-weight: 500;
  color: var(--little-details);
  text-transform: uppercase;
}

.main__circle svg {
  transform: rotate(270deg);
  overflow: visible;
  position: absolute;
  bottom: 1px;
}

.circle_animation {
  --animationLength: 0px;
  stroke-dasharray: 540px;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: var(--animationLength);
  animation: countdown 10s linear forwards;
}

@keyframes countdown {
  to {
    stroke-dashoffset: 540;
  }
/* 0 is a full circle*/
  /* 540 is the beginning of the circle*/
}

/*************************
  Puase Play Styles
**************************/
.main__pause {
  margin-top: 15px;
  border: 2px solid var(--faded-ring);
  border-radius: 50%;
  padding: 8px;
  height: 35px;
  width: 35px;
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
}

.main__pause svg {
  stroke: #fff;
  cursor: pointer;
  width: 18px;
  fill: #fff;
}

.action_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play_button {
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

#pause_button {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************
  Footer Styles
**************************/
.footer {
  margin: 10px 5px 0 5px;
}

.footer::after {
  content: "";
  display: table;
  clear: both;
}

.footer__round-details {
  float: left;
}

/*************************
  Round Details Styles
**************************/
.round-details__rounds {
  font-size: 10px;
  font-weight: 500;
  color: var(--accents);
  text-align: center;
  font-family: var(--primary-font);
}

.round-details__reset {
  background: transparent;
  border: none;
  color: rgb(131, 131, 131);
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: 300;
  font-family: var(--primary-font);
}

.round-details__reset:hover {
  opacity: .5;
}

/*************************
  Sounds Styles
**************************/
.sounds {
  float: right;
  fill: rgba(227, 225, 222, 0.664);
  line-height: 2.5;
  height: 20px;
  width: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sounds svg {
  height: 15px;
  cursor: pointer;
}

.sounds svg:hover {
  opacity: .5
}

.sounds svg:first-child {
  width: 12px;
}

.sounds svg:not(:first-child) {
  width: 14px;
  margin-left: 5px;
}

#media_player {
  display: none;
}

#unmute {
  display: block;
}

#mute {
  display: none;
}

/* Testing */
/* #p {
  background-color: #fff;
} */

/* MAIN */
.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.options__menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__options {
  width: 100%;
  height: 100%;
  background: var(--background);
  position: absolute;
  z-index: 2;
  top: 100%;
  transition: top 250ms;
  color: #FFF;
}

.main__circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting label[for] {
  font-family: var(--primary-font);
  font-size: 9px;
  font-weight: 500;
  color: #ffffffb0;
}

.setting p {
  font-family: var(--time-font);
  color: var(--faded-ring);
}

.options__menu .option__restart {
  font-family: var(--primary-font);
  font-size: 10px;
  font-weight: 500;
  margin-top: 10px;
}

.close {
  cursor: pointer;
  margin: 10px;
}

input[type=range] {
  outline: none;
  width: 230px;
  height: 3px;
  background-color: #242a38;
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

/* THUMB */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

/*********************/

#work {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, red), color-stop(100%, red));
}

#work::-webkit-slider-thumb {
  background: red;
}

#work::-moz-range-thumb {
  background: red;
}

#short_break {
  /* background: #1f68a3d0; */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1f68a3d0), color-stop(100%, #1f68a3d0));
}

#short_break::-webkit-slider-thumb {
  background: #1f68a3d0;
}

#short_break::-moz-range-thumb {
  background: #1f68a3d0;
}

#long_break {
  
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #23F0C7), color-stop(100%, #23F0C7));
  
}

#long_break::-webkit-slider-thumb {
  background: #23F0C7;
}

#long_break::-moz-range-thumb {
  background: #23F0C7;
}

#rounds {

  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFE347), color-stop(100%, #FFE347));
 
}

#rounds::-webkit-slider-thumb {
  background: #FFE347;
}

#rounds::-moz-range-thumb {
  background: #FFE347;
}

.setting {
  background: ;
  margin-bottom: 3px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting p {
  display: inline-block;
  color: #FFF !important;
  background: #242a38;
  padding: 2px;
}

.option__restart {
  cursor: pointer;
}