/*************************
    Setting Styles
**************************/
.main__options {
    width: var(--app-width);
    height: var(--app-height);
    background-color: var(--background);
    text-align: center;
}

.main__options label + p {
    color: rgba(227, 225, 222, 0.664); 
    font-size: 10px;
    margin: 8px 0; 
}

.main__options label {
    font-size: 12px;
    color: var(--accents);
}

.main__options h3 {
    font-size: 11px;
    color: rgba(227, 225, 222, 0.356);
    font-weight: 700;
}

.header__settings {
    margin: 8px 4px 2px 5px;
}

.header__settings__nav {
    display: grid;
    grid-template-columns: 25% 50% auto;
    margin: 8px 0px 8px 8px;
}

.team_title {
    justify-self: end;
    right: 6px;
    position: absolute;
    writing-mode: sideways-rl;
    text-orientation: upright;
}

#restore_defaults {
    border: none;
    background: transparent;
    color: rgba(227, 225, 222, 0.664);
    cursor: pointer;
}